* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.App>h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  margin: 20px 0;
  font-size: 50px;
  text-align: center;
}

.calciDiv {
  background-color: rgb(10, 6, 19);
  width: 30vw;
  min-width: 300px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.displayDiv {
  height: 80px;
  width: 100%;
  background-color: rgb(119, 119, 119);
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-family: 'Saira', sans-serif;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}

button {
  width: 23%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 5px;
  color: white;
  font-family: 'Play', sans-serif;
  border: none;
  cursor: pointer;
  background-color: rgb(35, 26, 54);
}

.longBtn {
  width: 47%;
  background-color: rgb(19, 18, 60);
}

.clr-btn {
  background-color: rgb(19, 18, 60);
}


@media screen and (max-width:600px) {
  .App>h1 {
    font-size: 30px;
  }

  .displayDiv {
    height: 60px;
    font-size: 25px;
  }

  button {
    padding: 10px 0;
    font-size: 25px;
  }

}