*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App>h1{
  font-family: 'Poppins', sans-serif;
  color:rgb(58, 6, 117);
  margin:10px 0;
  font-size: 50px;
}
.calciDiv{
  box-shadow: rgb(202, 174, 235) 1px 5px 20px 10px;
  background-color: rgb(34, 1, 68);
  width: 10vw;
  min-width: 280px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
.displayDiv{
  height: 50px;
  width: 100%;
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 25px;
  text-align: end;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-family: 'Saira', sans-serif;
}
.btn{
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}
button {
  width: 23%;
  padding: 10px 0;
  font-size: 25px;
  border-radius: 5px;
  color: white;
  font-family: 'Play', sans-serif;
  border: none;
  background-color: rgb(102, 74, 156);
}
.longBtn{
  width: 47%;
  background-color: rgb(50, 7, 167);
}
.clr-btn{
  background-color: rgba(39, 32, 139, 0.452);
}